extends ../layout/index
block contenido
    main.contenido.mt-5.px-5
        .row
            .col-md-5
                img.img-fluid(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt=`Imagen de ${viaje.imagen}`)
            .col-md-7
                h1= viaje.titulo
                p
                    i.fas.fa-calendar-alt
                    |  Fecha ida: #{viaje.fecha_ida}
                    |  Fecha vuelta: #{viaje.fecha_vuelta}
                p
                    i.fas.fa-dollar-sign
                    |  #{viaje.precio} 
                p
                    i.fas.fa-users
                    |  #{viaje.disponibles}  Disponibles
                p= viaje.descripcion